# build output
dist/
.netlify/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

#storyblok localhost access
src/pages/editor.html

# HTTPS Proxy certificates
localhost.pem
localhost-key.pem