---
import { useStoryblokApi } from '@storyblok/astro'
import type { Menu } from 'src/types'

const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get('cdn/stories/menu', {
  version:
    import.meta.env.VITE_ENVIRONMENT === 'preview' ? 'draft' : 'published',
  resolve_links: 'url',
})

const headerMenu = data?.story?.content?.header_menu
---

<ul>
  {
    headerMenu.map((menu: Menu) => (
      <li>
        <a href={`/${menu.link.cached_url}`} class="hover:text-[#50b0ae]">
          {menu.link.story.name}
        </a>
      </li>
    ))
  }
</ul>
