---
import BaseLayout from '@layouts/BaseLayout.astro'

const pageTitle = '404 Page'
const pageDescription = '404 Error'
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <p>404</p>
</BaseLayout>
