<div>
  <input
    aria-label="theme"
    aria-description="Toggle website 'light' or 'dark' mode theme"
    id="themeToggle"
    type="checkbox"
    class="toggle"
    style="display:none"
  />
</div>

<script is:inline>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('themeToggle').removeAttribute('style')
    document.documentElement.setAttribute(
      'data-theme',
      localStorage.getItem('theme') === 'dark' ? 'dark' : 'light',
    )
    if (localStorage.getItem('theme') === 'dark') {
      document.getElementById('themeToggle').checked = true
    }
  })

  document.getElementById('themeToggle').onclick = function (e) {
    let newTheme = e.target.checked ? 'dark' : 'light'
    localStorage.setItem('theme', newTheme)
    document.documentElement.setAttribute('data-theme', newTheme)
  }
</script>
