<div>
  <input
    aria-label="Toggle website 'light' or 'dark' mode theme"
    id="themeToggle"
    data-toggle-theme="dark,light"
    type="checkbox"
    class="toggle"
  />
</div>

<script is:inline>
  document.documentElement.setAttribute(
    'data-theme',
    localStorage.getItem('theme') === 'dark' ? 'dark' : 'light',
  )

  if (localStorage.getItem('theme') === 'dark') {
    document.getElementById('themeToggle').checked = true
  }

  document.getElementById('themeToggle').onclick = function (e) {
    let newTheme = e.target.checked ? 'dark' : 'light'
    localStorage.setItem('theme', newTheme)
    document.documentElement.setAttribute('data-theme', newTheme)
  }
</script>
